.flexing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.modal {
    line-height: 0 !important;
    background-color: transparent;
    top: 50% !important;
    transform: translateY(-50%) scaleX(1) scaleY(1) !important;
}

.modal-content {
    padding: 0 !important;
    line-height: 0 !important;
}

video {
    border-radius: 3%;
}

.carousel .carousel-item>img {
    width: 282px !important;
}

.carousel {
    height: 600px !important;
    margin-top: -8.5em;
    margin-bottom: 100px;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    height: 160px;
}